<div class="recipe-card bg-primary">
  <p class="stitch-font welcome">HEY MOM! WELCOME TO YOUR WEBSITE, HOPE YOU ENJOY IT :)</p>
  <div class="quote-display">
    <% if quote %>
      <div>
        <p class="stitch-font quote">"<%= quote.body.upcase %>"</p>
      </div>
      <div>
        <%= button_to "Edit Wititude", edit_quote_path(quote), method: :get, class: "button" %>
      </div>
    <% end %>
    <div class="quote-buttons">
      <%= button_to "Add New Wititude", new_quote_path, method: :get, class: "button" %>
    </div>
  </div>
</div>