<div class="quote-card bg-primary">
  <div class="quote-display">
    <% if quote %>
      <p class="quote">"<%= quote.body %>"</p>
    <% end %>
    <div class="quote-actions">
      <% if quote %>
        <%= button_to "Edit Wititude", edit_quote_path(quote), method: :get, class: "button" %>
      <% end %>
      <%= button_to "Add New Wititude", new_quote_path, method: :get, class: "button" %>
    </div>
  </div>
</div>