<div class="container bg-primary quote-form">
  <%= form_with model: quote do |form| %>
    <div>
      <%= form.text_area :body, size: "30x5", placeholder: "What's your wititude?", class: "text-input" %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= form.submit "Save Wititude", class: "button" %>
    </div>
  <% end %>
</div>