<%= form_with url: "/all_recipes/", method: :get do |form| %>
  <div>
    <span class="container">
      <%= form.text_field :query %>
    </span>
    <%= form.submit "Search Recipes" %>
  </div> 
<% end %>
    
 