<%= form_with url: "/recipes", method: :get do |form| %>
  <div>
    <span class="container">
      <%= form.text_field :name %>
    </span>
    <%= form.submit "Search Recipes" %>
  </div> 
<% end %>
    
 