<%= form_with url: "/all_recipes/", method: :get do |form| %>
  <div class="search-form">
    <%= form.text_field :query, class: "text-input search-input" %>
    <%= form.submit "Search Recipes", class: "button" %>
  </div>
<% end %>
    
 