<div class="buttons-container">
  <%= render "recipes/meal_types", :path => "/all_recipes/" %>
</div>
<ul class="recipe-list">
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipes_path(:chosen_recipe => recipe) %></li>
  <% end %>
</ul>