<% flash.each do |type, msg| %>
  <div class="flash-message">
    <%= msg %>
  </div>
<% end %>
<div class="form-page">
  <div class="form-page-header">
    <h2>Edit Recipe</h2>
    <p><%= @recipe.name %></p>
  </div>
  <div class="bg-primary form">
    <%= render "recipes/recipe_form", :recipe => @recipe %>
  </div>
</div>
