<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<div class="container">
  <div class="bg-primary form">
    <h2>Edit Recipe For <%= @recipe.name %></h2>
    <%= render "recipes/recipe_form", :recipe => @recipe %>
  </div>
</div>