<div class="recipes container">
  <div class="recipe-choices">
    <h3>Recipes</h3>
    <div class="meal-types">
      <%= render "recipes/meal_types" %>
    </div>
    <ul class="recipe-list">
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipes_path(:chosen_recipe => recipe) %></li>
      <% end %>
    </ul>
  </div>
  <div class="recipe-card">
    <%= render "recipes/display", :recipe => @chosen_recipe %>
  </div>
</div>
<div class="container">
  <%= link_to "Add a recipe", new_recipe_path %>
</div>