<div class="recipes container">
  <div class="recipe-choices">
    <h3 class="stitch-font"><%= link_to "RECIPES", all_recipes_path %></h3>
    <div class="meal-types">
      <%= render "recipes/meal_types", :path => recipes_path %>
    </div>
    <ul class="recipe-list">
      <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li>
      <% end %>
    </ul>
    <div class="container">
      <%= link_to "Add a recipe", new_recipe_path %>
    </div>
  </div>
  <div class="recipe-card">
    <p class="stitch-font welcome">HEY MOM! WELCOME TO YOUR WEBSITE, HOPE YOU ENJOY IT :)</p>
  </div>
</div>
