<div class="recipe-page">
  <div class="recipe-page-content">
    <%= render "quotes/quote_display", :quote => @quote %>
    <div class="bg-primary form">
      <div class="home-list-header">
        <h4 class="form-section-title">Recipes</h4>
        <%= button_to "Add a Recipe", new_recipe_path, method: :get %>
      </div>
      <%= render "recipes/meal_types", :path => recipes_path %>
      <ul class="recipe-list recipe-list-home">
        <% @recipes.each do |recipe| %>
          <li><%= link_to recipe.name, recipe_path(recipe) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
