<div class="container">
  <%= render "recipes/display", :recipe => @recipe %>
</div>
<div class="container">
  <%= render "recipes/comments", :recipe => @recipe, :new_comment => @new_comment %>
</div>