/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --light-red: #DD5353;
  --dark-red: #B73E3E;
  --warm-tan: #EDDBC0;
  --cool-tan: #DBC8AC;
}

body {
  background-color: var(--warm-tan);
  margin: 0;
  color: rgb(36, 36, 100);
}

.header {
background-color: var(--light-red);
padding: .5rem;
box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.container {
  padding: .5rem;
}

.recipes {
  display: flex;
}

.recipe-display {
  margin-left: 2rem;
}

 .header h1 {
  margin: 0;
  
 }

 .buttons-container {
  display: flex;
  gap: .25rem;
  margin-top: .25rem;
  padding: .25rem;
  width: fit-content;
 }