/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: "stitch-font";
  src: url(/assets/HovdenStitch-Regular.otf);
}

:root {
  --light-red: #DD5353AA;
  --primary-background: #f5f5dc;
  --secondary-background: #325648;
  --cool-tan: #DBC8AC;
}

body {
  background-color: var(--secondary-background);
  margin: 0;
  color: black;
}

a, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: var(--secondary-background);
}

button, .button {
  background-color: goldenrod;
  border: none;
  border-radius: 8px;
  padding: .25rem .75rem;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  margin-bottom: .5rem;
}

button:hover, .button:hover {
    transform: scale(1.05)
}

.header {
padding: .5rem;
box-shadow: 0 2px 2px rgba(0,0,0,0.4);
display: flex;
justify-content: space-between;
}

.text-input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: .25rem .5rem;
}

.text-input:focus {
  box-shadow: 0px 0px 5px var(--secondary-background);
  border:1px solid var(--secondary-background);
}

.stitch-font {
  font-family: "stitch-font";
}

.container {
  padding: .5rem;
}

.bg-primary {
  background-color: var(--primary-background);
}

.welcome {
  font-size: xx-large;
  text-wrap: wrap;
}

.recipes {
  display: flex;
  padding: .5rem;
  padding-top: 1rem;
}

.recipe-choices {
  min-width: 200px;
  max-width: 240px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.recipe-list {
  list-style-type: none;
  padding-left: .5rem;
}

 .buttons-container {
  display: flex;
  gap: .25rem;
  margin-top: .25rem;
  padding: .25rem;
  flex-wrap: wrap;
 }

 .all-buttons-container {
  display: flex;
  gap: .25rem;
  margin-top: .25rem;
  padding: .25rem;
 }

 .all-buttons-container .buttons-container {
  max-width: fit-content;
 }

.recipe-card {
  margin-left: 2rem;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.recipe-card h1 {
  margin: 0;
}

 .header h1 {
  margin: 0;
  
 }

 .recipe-display {
  padding: 1rem;
  border-radius: 1rem;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.recipe-info {
  flex: auto;
  display: flex;
  align-items: center;
  margin: 0;
}

.recipe-info h1 {
  padding-top: 0;
  margin: 0;
}

.recipe-info span {
  padding: .5rem;
}

.recipe {
  flex: auto;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.recipe-ingredients {
  padding: .5rem;
  width: 30%;
  margin-right: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  
}

.ingredient-list {
  padding-left: .5rem;
}

.ingredient {
  display: flex;
  justify-content: space-between;
}

.ingredient-name, .ingredient-measurement {
  width: 50%;
}

.ingredient-measurement {
  text-align: end;
}

.recipe-steps {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 70%;
  border-left: 2px solid var(--secondary-background);
  padding-left: 1rem;
}

.step-list-box {
  padding-left: 0;
  /* display: flex;
  flex-direction: column; */
  /* gap: 1rem; */
  /* grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); */
}

.step-box {
  /* padding: .25rem; */
  margin: 1rem 1rem 1rem 1rem;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.comments {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.form {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}

.input-field {
  margin: .5rem;
}

.search-output {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
